---
layout: default
title: soc.ialis.me blog
permalink: /blog/
---

<div class="home">

  <h2 class="page-heading">soc.ialis.me blog</h2>

  <p>Short news and other informations are posted to our Fediverse account at <a
      href="https://soc.ialis.me/@admin"><em>@admin</em>@soc.ialis.me</a>.</p>

  <br />

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">
          {{ post.date | date: date_format }}
          {% if post.categories %}
          • <a href="/blog/{{post.categories}}">{{ post.categories }}</a>
          {% endif %}
        </span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
