<div class="panel">
  <div class="emblem"><img src="/assets/emblem-small.png"></div>
  <div class="panel-header">
    soc.ialis.me
  </div>
  <div class="panel-body">
    <p>
    A Mastodon community part of the wider <a href="#">fediverse</a>, open to everyone
    and runt by <a href="/about/collective/">a collective</a>.
    </p>
  </div>
</div>

<div class="panel">
  <div class="panel-header">
    Contact
  </div>
  <div class="panel-body">
    <div class="contact-fediverse">
    Fediverse account:
    <strong><a href="https://soc.ialis.me/@admin">@admin@soc.ialis.me</a></strong>
    </div>
    <div class="contact-email">
    Contact e-mail:
    <strong><a href="mailto:soc@ialis.me">soc@ialis.me</a></strong>
    </div>
  </div>
</div>

<div class="panel">
<div class="panel-header">Links</div>
<div class="panel-list">
<ul>
<li><strong><a href="/auth/sign_up">Join the fediverse</a></strong></li>
<li><strong><a href="/auth/sign_in">Log in</a></strong></li>
<li><strong><a href="/about/more">About</a></strong></li>
<li><strong><a href="/blog">Blog</a></strong></li>
<li><strong><a href="/terms">Terms</a></strong></li>
<li><a href="https://github.com/tootsuite/mastodon">Source code</a></li>
<li><a href="https://github.com/ialisme/soc.ialis.me">Instance source code</a></li>
<li><a href="https://github.com/ialisme/soc.ialis.me/issues">Instance issues</a></li>
</ul>
</div>
</div>
